#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <behaviors/rgbled_widget.dtsi>

/*
 * Combo key-positions (3x4):1117333
 * +----+----+----+
 * |  0 |  1 |  2 |
 * +----+----+----+
 * |  3 |  4 |  5 |
 * +----+----+----+
 * |  6 |  7 |  8 |
 * +----+----+----+
 * |  9 | 10 | 11 |
 * +----+----+----+
 */

/ {
    combos {
        compatible = "zmk,combos";

       mo_layer_1_combo {
            timeout-ms = <50>;
            key-positions = <6 9>;
            bindings = <&mo 1>;
        };

        mo_layer_2_combo {
            timeout-ms = <50>;
            key-positions = <10 7>;
            bindings = <&mo 2>;
        };

 
    };

    behaviors {
        encoder_volume: encoder_volume {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_DN>, <&kp C_VOL_UP>;
        };
                // Set window to specific size (1400 x 1080) and move to center
        // Mac Shortcuts app is used to resize and move windows
        // Alfred is used to fire the Shortcuts
        windowsize: windowsize {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <150>;
            bindings
                = <&macro_press &kp LS(LA(LC(U)))>
                , <&macro_release &kp LS(LA(LC(U)))>
                ,<&macro_press &kp LS(LA(LC(Y)))>
                , <&macro_release &kp LS(LA(LC(Y)))>
                ,<&macro_press &kp LS(LA(LC(I)))>
                , <&macro_release &kp LS(LA(LC(I)))>
                ;
        };

        // macOS: go to top of page/window, then return to layer 0
        page_top_layer0: page_top_layer0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
            = <&macro_press &kp LG(UP)>
            , <&macro_release &kp LG(UP)>
                , <&macro_press &to 0>
                , <&macro_release &to 0>
                ;
        };

        // macOS: go to bottom of page/window, then return to layer 0
        page_bottom_layer0: page_bottom_layer0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
            = <&macro_press &kp LG(DOWN)>
            , <&macro_release &kp LG(DOWN)>
                , <&macro_press &to 0>
                , <&macro_release &to 0>
                ;
        };

        nav_left_mods: nav_left_mods {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <10>;
            wait-ms = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_press &kp LALT>
                , <&macro_press &kp LCTRL>
                , <&macro_press &kp LGUI>
                , <&macro_tap &kp LEFT>
                , <&macro_release &kp LGUI>
                , <&macro_release &kp LCTRL>
                , <&macro_release &kp LALT>
                , <&macro_release &kp LSHFT>
                ;
        };

        nav_right_mods: nav_right_mods {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <10>;
            wait-ms = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_press &kp LALT>
                , <&macro_press &kp LCTRL>
                , <&macro_press &kp LGUI>
                , <&macro_tap &kp RIGHT>
                , <&macro_release &kp LGUI>
                , <&macro_release &kp LCTRL>
                , <&macro_release &kp LALT>
                , <&macro_release &kp LSHFT>
                ;
        };

        // Row 0 Col 1 tap dance.
        // next track, previous track 
        r0_c1: tap_dance_r0c1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp C_NEXT>, < &kp C_PREV>;
        };
        

        r1_c2: tap_dance_r1c2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LG(GRAVE)>, <&kp LS(LA(LC(G)))>;
        };

        r2_c0: tap_dance_r2c0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LS(LA(LC(N1)))>, <&kp LS(LA(LC(LG(LEFT))))>;
        };
        r2_c1: tap_dance_rdc1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LS(LA(LC(N2)))>, <&kp LS(LA(LC(LG(F))))>, <&windowsize>;
        };
        r2_c2: tap_dance_r2c2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LS(LA(LC(T)))>, <&kp LS(LA(LC(LG(RIGHT))))>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp C_PP  &r0_c1  &kp K_MUTE
                &kp LS(LA(LC(7)))  &kp LS(LA(LC(8)))  &r1_c2
                &r2_c0 &r2_c1 &r2_c2
                &kp LS(LA(LC(B)))  &kp LS(LA(LC(K)))  &kp LS(LA(LC(SEMI)))
            >;
            sensor-bindings = <&encoder_volume>;
        };

        blender_layer {
            display-name = "Blender";
            bindings = <
                &kp C_PP   &kp C_NEXT  &kp K_MUTE
                &kp C_PREV &kp N5      &kp N6
                &kp SPACE  &kp UP      &kp BSPC
                &kp LEFT   &kp DOWN    &kp RIGHT
            >;
            sensor-bindings = <&encoder_volume>;
        };

        fn_layer {
            display-name = "Fn";
            bindings = <
                &ind_bat     &ind_con     &kp F3
                &kp F4      &bootloader   &kp F6
                &kp C_PREV  &kp C_PP    &kp C_NEXT
                &kp K_MUTE  &trans      &kp BSPC
            >;
            sensor-bindings = <&encoder_volume>;
        };
    };
};