#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <behaviors/rgbled_widget.dtsi>

/*
 * Combo key-positions (3x4):1117333
 * +----+----+----+
 * |  0 |  1 |  2 |
 * +----+----+----+
 * |  3 |  4 |  5 |
 * +----+----+----+
 * |  6 |  7 |  8 |
 * +----+----+----+
 * |  9 | 10 | 11 |
 * +----+----+----+
 */

/ {
    combos {
        compatible = "zmk,combos";

       mo_layer_1_combo {
            timeout-ms = <50>;
            key-positions = <6 9>;
            bindings = <&mo 1>;
        };

        mo_layer_2_combo {
            timeout-ms = <50>;
            key-positions = <10 7>;
            bindings = <&mo 2>;
        };

 
    };

    behaviors {
        encoder_volume: encoder_volume {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_DN>, <&kp C_VOL_UP>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp C_PP   &kp C_NEXT  &kp K_MUTE
                &kp C_PREV &kp N5      &kp N6
                &kp SPACE  &kp UP      &kp BSPC
                &kp LEFT   &kp DOWN    &kp RIGHT
            >;
            sensor-bindings = <&encoder_volume>;
        };

        blender_layer {
            display-name = "Blender";
            bindings = <
                &kp N1     &kp N2      &kp N3
                &kp N4     &kp N5      &kp N6
                &kp N7     &kp N8      &kp N9
                &kp N1     &kp N2      &kp A
            >;
            sensor-bindings = <&encoder_volume>;
        };

        fn_layer {
            display-name = "Fn";
            bindings = <
                &ind_bat     &ind_con     &kp F3
                &kp F4      &bootloader   &kp F6
                &kp C_PREV  &kp C_PP    &kp C_NEXT
                &kp K_MUTE  &trans      &kp BSPC
            >;
            sensor-bindings = <&encoder_volume>;
        };
    };
};